AGENTS.md
PMSURV.results
populate.model
populate.cmd
evolve.model
evolve.cmd
*.det
*.summary
junk
weff
junk.py
*.results
*.so
*.o
*~
*pyc
fortran/build
fortran/compile.txt
*.swp
threadpop.py
*_vals
script2.sh
results*
*values
slow.model
msp.model
fft_factor.pdf
fft_factor.ps
/20iterations
plot_spectra.gp
*yields
z_hist
